* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

.home {
  width: 100%;
  height: 100vh;
  /* background-image: url(/src/Assets/bg1.jpg);   
background-repeat: no-repeat;
background-size: cover;
background-position: center; */
}
.home_content {
  display: flex;
  align-items: center;
  /* height: 100vh; */
  color: #fff;
  z-index: 1;
}

.home_text {
  width: 700px;
  position: absolute;
  top: 220px;
  left: 260px;
  color: rgb(190, 230, 243);
}
.home_text h3 {
  font-size: 65px;
  line-height: 55px;
  font-weight: 600;
  font-family: "Audiowide";
}

.home_text h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 900;
  font-family: "Audiowide";
  letter-spacing: 0.15em;
}

.home_text p {
  font-size: 29px;
  font-family: "abel";
}

.home_text .home_discription {
  font-size: 24px;
  margin-top: 13px;
  font-style: italic;
}
.btn_home {
  margin-top: 10px;
  padding: 12px 50px;
  background-color: #fff;
  border-radius: 40px;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 600;
  color: rgb(63, 134, 158);
}

.btn_home:hover {
  /* background-color:rgb(63, 134, 158) ; */
  font-weight: 900;
  box-shadow: 0px 4px 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  transition-timing-function: ease-in;
}

.fa-arrow-right {
  margin-left: 20px;
  color: rgb(63, 134, 158);
}

.carousel-inner {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.carousel-item {
  width: 100%;
  height: 90%;
}
