* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  color: #fff;
  background-color: #00aec7;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

/* .logo-container {
  display: flex;
} */

.logo-img {
  font-size: 2rem;
  padding-left: 20px;
}

.content-img {
  margin: 0;
  padding: 0;
  height: 80vh;
  width: 100%;
}

.nav-item a {
  color: #fff;
}
