.card_container {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card_body {
  width: 100%;
}

#image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  margin: 10px;
  height: 200px;
  /* width: 400px; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
